$bc-color: #2E2B30;
$txt-color: #BFBFBF;
$fontSS: Avenir, sans-serif;
$fontAS: "Questa Grande", serif;


html {
  background: $bc-color;
}

body {
  margin: 0;
}


.home {
  height: 100vh;
  overflow: hidden;

  .homeTop {
    display: flex;
    padding-bottom: 20px;
    padding-top: 40px;

    .homeTop--wrapper {
      position: absolute;
      display: flex;
      justify-content: center;

      .title--wrapper {
        display: flex;
        justify-content: center;

        .titleHome {
          position: relative;
          left: 120%;
          font-size: 55px;
          color: white;
          font-family: $fontAS;
          padding-top: 20px;
        }
      }
    }
  }

  .menuPyramide {
    position: absolute;
    top: 0;
    left: 40px;
  }

  .arrow {
    position: absolute;
    bottom: 5%;
    left: 40px;

    p {
      font-family: $fontSS;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      color: $txt-color;
    }

    .arrowRight {
      position: absolute;
      bottom: 25%;
      left: 150px;
      height: 30px;
    }

    .home--link {
      text-decoration: none;
    }

  }

  .txt1Home, .txt2Home {
    color: $txt-color;
    font-size: 20px;
    width: 320px;
    text-align: justify;
    font-family: $fontSS;
  }

  .txt2Home {
    position: absolute;
    right: 60px;
    top: 230px;
  }

  .txt1Home {
    position: absolute;
    left: 60px;
    bottom: 200px;
  }


}

.oeuvre {
  font-family: $fontSS;

  h2 {
    font-family: $fontAS;
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: $txt-color;
    margin-top: 20px;
    margin-bottom: 0;
  }

  hr {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    margin-top: 20px;
    opacity: 0.6;
  }

  .menuPyramideOeuvre {
    position: absolute;
    top: 25px;
    left: 30px;
    width: 60px;
  }

  .oeuvre--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 60px;

    .oeuvre--content--wrapper {
      margin: 20px 50px 50px 50px;

      .oeuvre--content {
        display: flex;
        align-items: center;
        background: #95989A;
        color: $bc-color;
        padding: 20px 0 0 30px;
        border-radius: 0 0 10px 10px;
        position: relative;

        .oeuvre--link {
          text-decoration: none;

          h3 {
            font-size: 18px;
            margin: 0 0 15px 0;
            cursor: pointer;
            color: $bc-color;
          }

          img {
            position: absolute;
            height: 20px;
            width: auto;
            display: flex;
            justify-content: center;
            right: 10%;
            top: 40%;
            cursor: pointer;
          }
        }
      }

      &:hover {
        opacity: 0.6;
        transition: 0.5s;
      }

      .oeuvre--image {
        width: 400px;
        background-color: black;
        display: flex;
        justify-content: center;
        border-radius: 10px 10px 0 0;

        img {
          height: 200px;
          width: auto;
        }
      }
    }

    a {
      color: $txt-color;
    }
  }

  .joconde, .venus, .toutankhamon, .liberte {
    h2 {
      font-family: $fontAS;
      font-size: 50px;
    }

    .joconde--wrapper, .venus--wrapper, .toutankhamon--wrapper, .liberte--wrapper {
      display: flex;
      justify-content: space-around;
      margin-top: 8%;

      img {
        height: 450px;
        width: auto;
      }

      p {
        color: $txt-color;
        font-size: 19px;
        width: 45%;
        text-align: justify;
      }
    }
  }

  .liberte {

    .liberte--wrapper {

      p {
        color: $txt-color;
        font-size: 19px;
        width: 40%;
        text-align: justify;
      }
    }
  }
}


.oeuvreSlide {
  position: absolute;
  text-decoration: none;
  color: $txt-color;
  font-weight: bold;
  font-size: 21px;
  margin-top: 5%;
}

.next {
  right: 80px;
}

.prev {
  left: 50px;
}

.menu--wrapper {
  background: #000;
  height: 100vh;

  .cross{
    position: absolute;
    padding: 50px;
    width: 40px;

  }

  .menuLanding--title {
    font-size: 55px;
    font-family: $fontAS;
    text-align: center;
    color: #95989A;
    margin: 0;
    padding-top: 10%;
    padding-left: 40px;
  }

  hr {
    position: absolute;
    left: 50%;
    transform: translate(-30%);
    width: 100px;
  }

  .menuLanding--wrapper {
    background: #000;
    display: flex;
    justify-content: center;

    .menuLanding {
      display: block;
      text-decoration: none;
      list-style: none;

      font-size: 45px;
      font-weight: bold;
      font-family: $fontSS;
      text-align: center;

      .menu--link {
        text-decoration: none;
        color: #fff;
      }

      li {
        margin: 50px;

        &:hover {
          opacity: 0.6;
          transition: 0.5s;
          cursor: pointer;
        }
      }
    }
  }
}







