$bc-color: #2E2B30;
$galerie-color: #0a2a43;
$txt-color: #BFBFBF;
$fontSS: Avenir, sans-serif;
$fontAS: "Questa Grande", serif;


html {
  background: $bc-color;
}

body {
  margin: 0;
}


.home {
  height: 100vh;
  overflow: hidden;

  .homeTop {
    display: flex;
    padding-bottom: 20px;
    padding-top: 40px;

    .homeTop--wrapper {
      position: absolute;
      display: flex;
      justify-content: center;

      .title--wrapper {
        display: flex;
        justify-content: center;

        .titleHome {
          position: relative;
          left: 120%;
          font-size: 55px;
          color: white;
          font-family: $fontAS;
          padding-top: 20px;
        }
      }

    }
  }

  .menuPyramide {
    position: absolute;
    top: 0;
    left: 40px;
  }

  .arrow {
    position: absolute;
    bottom: 5%;
    left: 40px;

    &:hover {
      transform: translateX(80px);
      transition: 0.5s;
    }


    p {
      font-family: $fontSS;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      color: $txt-color;
    }

    .arrowRight {
      position: absolute;
      bottom: 1px;
      left: 150px;
      height: 30px;
    }

    .home--link {
      text-decoration: none;
    }

  }

  .txt1Home, .txt2Home {
    color: $txt-color;
    font-size: 20px;
    width: 320px;
    text-align: justify;
    font-family: $fontSS;
  }

  .txt2Home {
    position: absolute;
    right: 60px;
    top: 230px;
  }

  .txt1Home {
    position: absolute;
    left: 60px;
    bottom: 200px;
  }


}

.oeuvre {
  font-family: $fontSS;


  h2 {
    font-family: $fontAS;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: $txt-color;
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 40px;
  }

  .menuPyramideOeuvre {
    position: absolute;
    top: 25px;
    left: 30px;
    width: 60px;
  }

  .oeuvre--wrapper {
    margin: 100px 200px;
    display: flex;

    h2 {
      writing-mode: vertical-rl;
      text-orientation: upright;
      text-transform: uppercase;
      font-size: 50px;
      margin-top: -50px;
      margin-left: -50px;
    }

    .oeuvre--content--wrapper {
      margin: 0 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .textEffect {

        .imgGallerie {
          img {
            display: block;
            width: 250px;
            margin: 0 10px;

            &:hover {
              opacity: 0.5;
              transform: scale(0.95);
              transition: 0.5s;
              cursor: pointer;
            }
          }

          h3 {
            display: none;
            color: $txt-color;
            font-size: 15px;
            margin-left: 20px;
            margin-top: 5px;
          }


          .venusIMG {
            margin-top: -50%;
          }

          .jocondeIMG {
            margin-top: 11%;
          }

          .pharaIMG {
            margin-top: -17%;
          }
        }
      }

    }
  }

  a {
    color: $txt-color;
  }

}


.joconde, .venus, .toutankhamon, .liberte, .scribe, .dentelliere {
  h2 {
    font-family: $fontAS;
    font-size: 50px;
  }

  .joconde--wrapper, .venus--wrapper, .toutankhamon--wrapper, .liberte--wrapper, .scribe--wrapper, .dentelliere--wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 8%;

    img {
      height: 450px;
      width: auto;
    }

    p {
      color: $txt-color;
      font-size: 19px;
      width: 45%;
      text-align: justify;
    }
  }
}

.liberte {

  .liberte--wrapper {

    p {
      color: $txt-color;
      font-size: 19px;
      width: 40%;
      text-align: justify;
    }
  }
}


.oeuvreSlide {
  position: absolute;
  text-decoration: none;
  color: $txt-color;
  font-weight: bold;
  font-size: 21px;
  margin-top: 5%;
}

.next {
  right: 80px;

  &:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
  }
}

.prev {
  left: 50px;

  &:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
  }
}

.menu--wrapper {
  background: #000;
  height: 100vh;

  .cross {
    position: absolute;
    padding: 50px;
    width: 40px;

  }

  .menuLanding--title {
    font-size: 55px;
    font-family: $fontAS;
    text-align: center;
    color: #95989A;
    margin: 0;
    padding-top: 10%;
    padding-left: 40px;
  }

  hr {
    position: absolute;
    left: 50%;
    transform: translate(-30%);
    width: 100px;
  }
}

.plan--wrapper {
  .plan {
    height: 500px;
    width: auto;
    filter: grayscale(100%);
    margin: 80px 0 50px 15%;
  }
  .plan--txt{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px 0 100px 0;
    .pyra {
      height: 300px;
      width: auto;
      filter: grayscale(100%);
    }

    .carousel {
      height: 300px;
      width: auto;
      filter: grayscale(100%);
    }

    p{
      width: 40%;
      color: $txt-color;
      font-size: 20px;
      text-align: justify;
    }
  }
  h3 {
    font-family: $fontAS;
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: $txt-color;
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 80px;
  }

}


