$bc-color: #2E2B30;


html {
  background: #2E2B30;
}

.home {
  height: 100vh;
  overflow: hidden;

  .homeTop {
    display: flex;
    justify-content: center;

    .titleHome {
      font-size: 55px;
      color: white;
      font-family: "Questa Grande", serif;
      padding-top: 50px;
    }
  }

  .scrollDown {
    position: absolute;
    bottom: 5%;
    left: 40px;

    p {
      font-family: Avenir, sans-serif;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      color: #BFBFBF;
    }

    .arrowDown {
      position: absolute;
      bottom: 25%;
      left: 150px;
      height: 30px;
    }
  }

  .txt1Home, .txt2Home {
    color: #BFBFBF;
    font-size: 20px;
    width: 320px;
    text-align: justify;
    font-family: Avenir, sans-serif;
  }

  .txt2Home {
    position: absolute;
    right: 60px;
    top: 200px;
  }

  .txt1Home {
    position: absolute;
    left: 60px;
    bottom: 200px;
  }

}

.menuPyramide {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 60px;
}
