html {
  background: #131010; }

body {
  margin: 0; }

.home {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center; }
  .home .homeTop {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    padding-top: 50px;
    position: absolute; }
    .home .homeTop .titleHome {
      font-size: 55px;
      color: white;
      font-family: "Questa Grande", serif;
      padding-top: 20px; }
  .home .menuPyramide {
    position: absolute;
    top: 0;
    left: 40px;
    cursor: pointer; }
  .home .arrow {
    position: absolute;
    bottom: 5%;
    left: 40px; }
    .home .arrow:hover {
      transform: translateX(20px);
      transition: 0.5s; }
    .home .arrow p {
      font-family: Avenir, sans-serif;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      color: #BFBFBF; }
    .home .arrow .txt1Home, .home .arrow .txt2Home {
      opacity: 0;
      color: #BFBFBF;
      font-size: 20px;
      width: 320px;
      text-align: justify;
      font-family: Avenir, sans-serif;
      transform: translateY(20px); }
    .home .arrow .txt1Home {
      transition: 10s all ease-in-out; }
    .home .arrow .txt2Home {
      transition: 3s all ease-in-out; }
    .home .arrow .text-appear {
      opacity: 1;
      transform: translateY(0px); }
    .home .arrow .arrowRight {
      position: absolute;
      bottom: 1px;
      left: 150px;
      height: 30px; }
    .home .arrow .home--link {
      text-decoration: none; }
  .home .pyramide--wrapper {
    padding-top: 60px; }
  .home .pyramide--responsive--wrapper {
    display: none; }
  .home .txt1Home, .home .txt2Home {
    color: #BFBFBF;
    font-size: 20px;
    width: 320px;
    text-align: justify;
    font-family: Avenir, sans-serif; }
  .home .txt2Home {
    position: absolute;
    right: 60px;
    top: 230px; }
  .home .txt1Home {
    position: absolute;
    left: 60px;
    bottom: 200px; }

.oeuvre {
  font-family: Avenir, sans-serif; }
  .oeuvre h2 {
    font-family: "Questa Grande", serif;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #BFBFBF;
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 40px; }
  .oeuvre .menuPyramideOeuvre {
    position: absolute;
    top: 25px;
    left: 30px;
    width: 60px; }
  .oeuvre .oeuvre--wrapper {
    margin: 100px 200px;
    display: flex; }
    .oeuvre .oeuvre--wrapper h2 {
      writing-mode: vertical-rl;
      text-orientation: upright;
      text-transform: uppercase;
      font-size: 50px;
      margin-top: -50px;
      margin-left: -50px; }
    .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper {
      margin: 0 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper .textEffect .imgGallerie img {
        display: block;
        width: 250px;
        margin: 0 10px; }
        .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper .textEffect .imgGallerie img:hover {
          opacity: 0.5;
          transform: scale(0.95);
          transition: 0.5s;
          cursor: pointer; }
      .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper .textEffect .imgGallerie h3 {
        display: none;
        color: #BFBFBF;
        font-size: 15px;
        margin-left: 20px;
        margin-top: 5px; }
      .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper .textEffect .imgGallerie .venusIMG {
        margin-top: -50%; }
      .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper .textEffect .imgGallerie .jocondeIMG {
        margin-top: 11%; }
      .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper .textEffect .imgGallerie .pharaIMG {
        margin-top: -17%; }
  .oeuvre a {
    color: #BFBFBF; }

.joconde, .venus, .toutankhamon, .liberte, .scribe, .dentelliere {
  height: 80vh; }
  .joconde h2, .venus h2, .toutankhamon h2, .liberte h2, .scribe h2, .dentelliere h2 {
    font-family: "Questa Grande", serif;
    font-size: 50px; }
  .joconde .joconde--wrapper, .joconde .venus--wrapper, .joconde .toutankhamon--wrapper, .joconde .liberte--wrapper, .joconde .scribe--wrapper, .joconde .dentelliere--wrapper, .venus .joconde--wrapper, .venus .venus--wrapper, .venus .toutankhamon--wrapper, .venus .liberte--wrapper, .venus .scribe--wrapper, .venus .dentelliere--wrapper, .toutankhamon .joconde--wrapper, .toutankhamon .venus--wrapper, .toutankhamon .toutankhamon--wrapper, .toutankhamon .liberte--wrapper, .toutankhamon .scribe--wrapper, .toutankhamon .dentelliere--wrapper, .liberte .joconde--wrapper, .liberte .venus--wrapper, .liberte .toutankhamon--wrapper, .liberte .liberte--wrapper, .liberte .scribe--wrapper, .liberte .dentelliere--wrapper, .scribe .joconde--wrapper, .scribe .venus--wrapper, .scribe .toutankhamon--wrapper, .scribe .liberte--wrapper, .scribe .scribe--wrapper, .scribe .dentelliere--wrapper, .dentelliere .joconde--wrapper, .dentelliere .venus--wrapper, .dentelliere .toutankhamon--wrapper, .dentelliere .liberte--wrapper, .dentelliere .scribe--wrapper, .dentelliere .dentelliere--wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8%; }
    .joconde .joconde--wrapper img, .joconde .venus--wrapper img, .joconde .toutankhamon--wrapper img, .joconde .liberte--wrapper img, .joconde .scribe--wrapper img, .joconde .dentelliere--wrapper img, .venus .joconde--wrapper img, .venus .venus--wrapper img, .venus .toutankhamon--wrapper img, .venus .liberte--wrapper img, .venus .scribe--wrapper img, .venus .dentelliere--wrapper img, .toutankhamon .joconde--wrapper img, .toutankhamon .venus--wrapper img, .toutankhamon .toutankhamon--wrapper img, .toutankhamon .liberte--wrapper img, .toutankhamon .scribe--wrapper img, .toutankhamon .dentelliere--wrapper img, .liberte .joconde--wrapper img, .liberte .venus--wrapper img, .liberte .toutankhamon--wrapper img, .liberte .liberte--wrapper img, .liberte .scribe--wrapper img, .liberte .dentelliere--wrapper img, .scribe .joconde--wrapper img, .scribe .venus--wrapper img, .scribe .toutankhamon--wrapper img, .scribe .liberte--wrapper img, .scribe .scribe--wrapper img, .scribe .dentelliere--wrapper img, .dentelliere .joconde--wrapper img, .dentelliere .venus--wrapper img, .dentelliere .toutankhamon--wrapper img, .dentelliere .liberte--wrapper img, .dentelliere .scribe--wrapper img, .dentelliere .dentelliere--wrapper img {
      height: 450px;
      width: auto; }
    .joconde .joconde--wrapper p, .joconde .venus--wrapper p, .joconde .toutankhamon--wrapper p, .joconde .liberte--wrapper p, .joconde .scribe--wrapper p, .joconde .dentelliere--wrapper p, .venus .joconde--wrapper p, .venus .venus--wrapper p, .venus .toutankhamon--wrapper p, .venus .liberte--wrapper p, .venus .scribe--wrapper p, .venus .dentelliere--wrapper p, .toutankhamon .joconde--wrapper p, .toutankhamon .venus--wrapper p, .toutankhamon .toutankhamon--wrapper p, .toutankhamon .liberte--wrapper p, .toutankhamon .scribe--wrapper p, .toutankhamon .dentelliere--wrapper p, .liberte .joconde--wrapper p, .liberte .venus--wrapper p, .liberte .toutankhamon--wrapper p, .liberte .liberte--wrapper p, .liberte .scribe--wrapper p, .liberte .dentelliere--wrapper p, .scribe .joconde--wrapper p, .scribe .venus--wrapper p, .scribe .toutankhamon--wrapper p, .scribe .liberte--wrapper p, .scribe .scribe--wrapper p, .scribe .dentelliere--wrapper p, .dentelliere .joconde--wrapper p, .dentelliere .venus--wrapper p, .dentelliere .toutankhamon--wrapper p, .dentelliere .liberte--wrapper p, .dentelliere .scribe--wrapper p, .dentelliere .dentelliere--wrapper p {
      color: #BFBFBF;
      font-size: 19px;
      width: 45%;
      text-align: justify; }

.liberte {
  height: 80vh; }
  .liberte .liberte--wrapper p {
    color: #BFBFBF;
    font-size: 19px;
    width: 40%;
    text-align: justify; }

.oeuvreSlide {
  position: absolute;
  text-decoration: none;
  color: #BFBFBF;
  font-weight: bold;
  font-size: 21px;
  margin-top: 5%; }

.next {
  right: 80px; }
  .next:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s; }

.prev {
  left: 50px; }
  .prev:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s; }

.menu--wrapper {
  background: #000;
  height: 100vh; }
  .menu--wrapper .cross {
    position: absolute;
    padding: 50px;
    width: 40px; }
  .menu--wrapper .menuLanding--title {
    font-size: 55px;
    font-family: "Questa Grande", serif;
    text-align: center;
    color: #95989A;
    margin: 0;
    padding-top: 10%;
    padding-left: 40px; }
  .menu--wrapper hr {
    position: absolute;
    left: 50%;
    transform: translate(-30%);
    width: 100px; }

.plan--wrapper .plan {
  opacity: 0;
  height: 500px;
  width: auto;
  filter: grayscale(100%);
  margin: 80px 0 50px 15%;
  transition: 1s all ease-in-out; }

.plan--wrapper .pyramide--plan, .plan--wrapper .carousel--plan {
  opacity: 0;
  color: #BFBFBF;
  transform: translateY(20px);
  transition: 1s all ease-in-out; }

.plan--wrapper .text-appear {
  opacity: 1;
  transform: translateY(0px); }

.plan--wrapper .plan--txt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 80px 0 100px 0; }
  .plan--wrapper .plan--txt .pyra {
    height: 300px;
    width: auto;
    filter: grayscale(100%); }
  .plan--wrapper .plan--txt .carousel {
    height: 300px;
    width: auto;
    filter: grayscale(100%); }
  .plan--wrapper .plan--txt p {
    width: 40%;
    color: #BFBFBF;
    font-size: 20px;
    text-align: justify; }

.plan--wrapper h3 {
  font-family: "Questa Grande", serif;
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: #BFBFBF;
  margin-top: 20px;
  margin-bottom: 0;
  padding-top: 80px; }

.relative--langue {
  z-index: 3;
  position: absolute;
  top: 20px;
  right: 40px;
  width: 80px; }
  .relative--langue button {
    background-color: transparent;
    border: none; }
    .relative--langue button svg {
      position: absolute;
      top: 5px;
      left: 60px; }
    .relative--langue button .select--lang {
      position: absolute;
      top: 8px;
      left: 40px; }
  .relative--langue .flag {
    width: 30px;
    margin-right: 15px; }
  .relative--langue span {
    color: white;
    font-family: Avenir, sans-serif;
    font-size: 12px;
    text-decoration: none; }
  .relative--langue ul {
    list-style: none; }
  .relative--langue .lang--select {
    position: absolute;
    padding-top: 8px; }

.musees h3 {
  font-family: "Questa Grande", serif;
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: #BFBFBF;
  margin-bottom: 30px;
  padding-top: 40px; }

.musees .musees--wraper .musees--link {
  text-decoration: none; }

.musees .musees--wraper .lens--wrapper img {
  height: 85vh;
  width: 50%;
  position: absolute; }

.musees .musees--wraper .lens--wrapper .lens--title {
  position: absolute;
  font-family: Avenir, sans-serif;
  font-size: 50px;
  color: #000;
  left: 13%;
  bottom: 30%; }

.musees .musees--wraper .lens--wrapper:hover {
  cursor: pointer; }
  .musees .musees--wraper .lens--wrapper:hover .lens--title {
    transition: 0.5s;
    color: #fff;
    z-index: 2; }
  .musees .musees--wraper .lens--wrapper:hover img {
    z-index: 1;
    width: 60%;
    transition: 0.5s;
    filter: brightness(40%); }

.musees .musees--wraper .ad--wrapper img {
  height: 85vh;
  width: 50%;
  position: absolute; }

.musees .musees--wraper .ad--wrapper .ad--title {
  position: absolute;
  font-family: Avenir, sans-serif;
  display: flex;
  justify-content: left;
  font-size: 50px;
  color: #000;
  right: 10%;
  bottom: 30%; }

.musees .musees--wraper .ad--wrapper .ad {
  left: 50%; }

.musees .musees--wraper .ad--wrapper:hover {
  cursor: pointer; }
  .musees .musees--wraper .ad--wrapper:hover .ad--title {
    transition: 0.5s;
    color: #fff;
    z-index: 2; }
  .musees .musees--wraper .ad--wrapper:hover img {
    transition: 0.5s;
    z-index: 1;
    width: 60%;
    filter: brightness(40%); }
  .musees .musees--wraper .ad--wrapper:hover .ad {
    left: 40%; }

.lensPage h3 {
  font-family: "Questa Grande", serif;
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: #BFBFBF;
  padding-top: 60px; }

.lensPage .lens--txt {
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
  margin: 80px 0 0 0;
  height: 66.5vh; }
  .lensPage .lens--txt .lens--img {
    height: 350px;
    width: auto; }
  .lensPage .lens--txt p {
    margin-top: 50px;
    width: 40%;
    color: #BFBFBF;
    font-size: 18px;
    text-align: justify;
    font-family: Avenir, sans-serif; }
  .lensPage .lens--txt .arrow {
    position: absolute;
    right: 15%;
    top: 70%; }
    .lensPage .lens--txt .arrow:hover {
      transform: translateX(20px);
      transition: 0.5s; }
    .lensPage .lens--txt .arrow h4 {
      font-family: Avenir, sans-serif;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      color: #BFBFBF; }
    .lensPage .lens--txt .arrow .arrowRight {
      position: absolute;
      bottom: 1px;
      left: 150px;
      height: 30px; }
    .lensPage .lens--txt .arrow .site--link {
      text-decoration: none; }

.lensPage .lensMap {
  position: absolute;
  height: 550px;
  width: auto;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 80px;
  padding-top: 30px; }

.lensPage .lensSlide {
  position: absolute;
  text-decoration: none;
  color: #BFBFBF;
  font-weight: bold;
  font-size: 21px;
  font-family: Avenir, sans-serif; }

.lensPage .next {
  right: 80px;
  bottom: -100%;
  padding-bottom: 50px; }
  .lensPage .next:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s; }

.adPage h3 {
  font-family: "Questa Grande", serif;
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: #BFBFBF;
  padding-top: 60px; }

.adPage .ad--txt {
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
  margin: 80px 0 0 0;
  height: 66.5vh; }
  .adPage .ad--txt .ad--img {
    height: 350px;
    width: auto; }
  .adPage .ad--txt p {
    margin-top: 50px;
    width: 40%;
    color: #BFBFBF;
    font-size: 18px;
    text-align: justify;
    font-family: Avenir, sans-serif; }
  .adPage .ad--txt .arrow {
    position: absolute;
    top: 70%;
    right: 15%; }
    .adPage .ad--txt .arrow:hover {
      transform: translateX(20px);
      transition: 0.5s; }
    .adPage .ad--txt .arrow h4 {
      font-family: Avenir, sans-serif;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      color: #BFBFBF; }
    .adPage .ad--txt .arrow .arrowRight {
      position: absolute;
      bottom: 1px;
      left: 150px;
      height: 30px; }
    .adPage .ad--txt .arrow .site--link {
      text-decoration: none; }

.adPage .adMap {
  position: absolute;
  height: 540px;
  width: auto;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 80px;
  padding-top: 30px; }

.adPage .adSlide {
  position: absolute;
  text-decoration: none;
  color: #BFBFBF;
  font-weight: bold;
  font-size: 21px;
  font-family: Avenir, sans-serif; }

.adPage .prev {
  left: 80px;
  bottom: -100%;
  padding-bottom: 50px; }
  .adPage .prev:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s; }

.audioguide h3 {
  font-family: "Questa Grande", serif;
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: #BFBFBF;
  padding-top: 60px; }

.audioguide .container--audioguide {
  padding-top: 18vh; }

.audioguide .guide--link {
  text-decoration: none; }

.audioPage h3 {
  font-family: "Questa Grande", serif;
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: #BFBFBF;
  padding-top: 60px; }

.audioPage .audio--txt {
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
  margin: 80px 0 100px 0;
  height: 66.5vh; }
  .audioPage .audio--txt .audio--wrapper {
    display: block;
    width: 40%; }
    .audioPage .audio--txt .audio--wrapper p {
      margin-top: 80px;
      color: #BFBFBF;
      font-size: 18px;
      text-align: justify;
      font-family: Avenir, sans-serif; }
    .audioPage .audio--txt .audio--wrapper h4 {
      font-family: Avenir, sans-serif;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      color: #BFBFBF;
      padding-top: 30px; }
  .audioPage .audio--txt .audio--img {
    height: 400px;
    width: auto;
    filter: grayscale(100%); }

.audioPage .audioSlide {
  position: absolute;
  text-decoration: none;
  color: #BFBFBF;
  font-weight: bold;
  font-size: 21px;
  font-family: Avenir, sans-serif; }

.audioPage .next {
  right: 80px;
  bottom: 30px; }
  .audioPage .next:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s; }

.videoPage h3 {
  font-family: "Questa Grande", serif;
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: #BFBFBF;
  padding-top: 60px; }

.videoPage .video--txt {
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
  margin: 80px 0 100px 0;
  height: 66.5vh; }
  .videoPage .video--txt .video--wrapper {
    display: block;
    width: 40%; }
    .videoPage .video--txt .video--wrapper p {
      margin-top: 80px;
      color: #BFBFBF;
      font-size: 18px;
      text-align: justify;
      font-family: Avenir, sans-serif; }
    .videoPage .video--txt .video--wrapper h4 {
      font-family: Avenir, sans-serif;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      color: #BFBFBF;
      padding-top: 30px; }
  .videoPage .video--txt .video--img {
    height: 400px;
    width: auto;
    filter: grayscale(100%); }

.videoPage .videoSlide {
  position: absolute;
  text-decoration: none;
  color: #BFBFBF;
  font-weight: bold;
  font-size: 21px;
  font-family: Avenir, sans-serif; }

.videoPage .prev {
  left: 80px;
  bottom: 30px; }
  .videoPage .prev:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s; }

.videoPage .next {
  right: 80px;
  bottom: 30px; }
  .videoPage .next:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s; }

.appliPage h3 {
  font-family: "Questa Grande", serif;
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: #BFBFBF;
  padding-top: 60px; }

.appliPage .appli--txt {
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
  margin: 80px 0 100px 0;
  height: 66.5vh; }
  .appliPage .appli--txt .appli--wrapper {
    display: block;
    width: 40%; }
    .appliPage .appli--txt .appli--wrapper p {
      margin-top: 80px;
      color: #BFBFBF;
      font-size: 18px;
      text-align: justify;
      font-family: Avenir, sans-serif; }
    .appliPage .appli--txt .appli--wrapper h4 {
      font-family: Avenir, sans-serif;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      color: #BFBFBF;
      padding-top: 30px; }
  .appliPage .appli--txt .appli--img {
    height: 400px;
    width: auto;
    filter: grayscale(100%); }

.appliPage .appliSlide {
  position: absolute;
  text-decoration: none;
  color: #BFBFBF;
  font-weight: bold;
  font-size: 21px;
  font-family: Avenir, sans-serif; }

.appliPage .prev {
  left: 80px;
  bottom: 30px; }
  .appliPage .prev:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s; }

/*---------------------------------------------------- RESPONSIVE -----------------------------------------*/
@media (max-width: 1920px) {
  .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper {
    margin: 0 100px; } }

@media (max-width: 1440px) {
  .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper {
    margin: 0 10px; } }

@media (max-width: 440px) {
  .plan--wrapper .parallax {
    display: none; }
  .plan--wrapper .plan {
    opacity: 0;
    height: 500px;
    width: 80%;
    filter: grayscale(100%);
    margin-left: 50px;
    transition: 1s all ease-in-out; }
  .plan--wrapper .pyramide--plan, .plan--wrapper .carousel--plan {
    opacity: 0;
    color: #BFBFBF;
    transform: translateY(20px);
    transition: 1s all ease-in-out; }
  .plan--wrapper .text-appear {
    opacity: 1;
    transform: translateY(0px); }
  .plan--wrapper .h3pyra {
    font-size: 40px; }
  .plan--wrapper .h3car {
    padding: 250px 10px 10px;
    margin-bottom: -20px;
    font-size: 40px; }
  .plan--wrapper .h3plan {
    margin-top: 390px;
    margin-bottom: -150px;
    font-size: 40px; }
  .plan--wrapper .plan--txt {
    display: block;
    justify-content: space-evenly;
    align-items: center; }
    .plan--wrapper .plan--txt .pyra {
      margin-top: -35px;
      margin-left: 50px;
      height: 200px;
      width: 80%;
      filter: grayscale(100%); }
    .plan--wrapper .plan--txt .carousel {
      margin-left: 50px;
      height: 200px;
      width: 80%;
      filter: grayscale(100%); }
    .plan--wrapper .plan--txt .pcar {
      margin-top: 215px; }
    .plan--wrapper .plan--txt p {
      position: absolute;
      color: #BFBFBF;
      font-size: 19px;
      width: 80vw;
      margin: 10px 50px 0 50px;
      text-align: justify; }
  .oeuvre .oeuvre--wrapper {
    margin: 0 20px;
    display: flex; }
    .oeuvre .oeuvre--wrapper h2 {
      writing-mode: horizontal-tb;
      position: absolute;
      text-transform: uppercase;
      font-size: 40px;
      margin-top: 30px;
      margin-left: 110px; }
    .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper {
      margin: 0 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper .textEffect .imgGallerie img {
        display: block;
        width: 250px;
        margin: 0 10px; }
        .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper .textEffect .imgGallerie img:hover {
          opacity: 0.5;
          transform: scale(0.95);
          transition: 0.5s;
          cursor: pointer; }
      .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper .textEffect .imgGallerie h3 {
        display: none;
        color: #BFBFBF;
        font-size: 15px;
        margin-left: 20px;
        margin-top: 5px; }
      .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper .textEffect .imgGallerie .venusIMG, .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper .textEffect .imgGallerie .jocondeIMG, .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper .textEffect .imgGallerie .pharaIMG, .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper .textEffect .imgGallerie .dentelliereIMG, .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper .textEffect .imgGallerie .scribeIMG {
        margin-top: 10%; }
      .oeuvre .oeuvre--wrapper .oeuvre--content--wrapper .textEffect .imgGallerie .liberteIMG {
        margin-top: 55%; }
  .joconde h2, .venus h2, .toutankhamon h2, .liberte h2, .scribe h2, .dentelliere h2 {
    font-family: "Questa Grande", serif;
    font-size: 30px;
    padding-top: 100px; }
  .joconde .joconde--wrapper, .joconde .venus--wrapper, .joconde .toutankhamon--wrapper, .joconde .liberte--wrapper, .joconde .scribe--wrapper, .joconde .dentelliere--wrapper, .venus .joconde--wrapper, .venus .venus--wrapper, .venus .toutankhamon--wrapper, .venus .liberte--wrapper, .venus .scribe--wrapper, .venus .dentelliere--wrapper, .toutankhamon .joconde--wrapper, .toutankhamon .venus--wrapper, .toutankhamon .toutankhamon--wrapper, .toutankhamon .liberte--wrapper, .toutankhamon .scribe--wrapper, .toutankhamon .dentelliere--wrapper, .liberte .joconde--wrapper, .liberte .venus--wrapper, .liberte .toutankhamon--wrapper, .liberte .liberte--wrapper, .liberte .scribe--wrapper, .liberte .dentelliere--wrapper, .scribe .joconde--wrapper, .scribe .venus--wrapper, .scribe .toutankhamon--wrapper, .scribe .liberte--wrapper, .scribe .scribe--wrapper, .scribe .dentelliere--wrapper, .dentelliere .joconde--wrapper, .dentelliere .venus--wrapper, .dentelliere .toutankhamon--wrapper, .dentelliere .liberte--wrapper, .dentelliere .scribe--wrapper, .dentelliere .dentelliere--wrapper {
    margin-top: 8%;
    display: block;
    position: absolute; }
    .joconde .joconde--wrapper img, .joconde .venus--wrapper img, .joconde .toutankhamon--wrapper img, .joconde .liberte--wrapper img, .joconde .scribe--wrapper img, .joconde .dentelliere--wrapper img, .venus .joconde--wrapper img, .venus .venus--wrapper img, .venus .toutankhamon--wrapper img, .venus .liberte--wrapper img, .venus .scribe--wrapper img, .venus .dentelliere--wrapper img, .toutankhamon .joconde--wrapper img, .toutankhamon .venus--wrapper img, .toutankhamon .toutankhamon--wrapper img, .toutankhamon .liberte--wrapper img, .toutankhamon .scribe--wrapper img, .toutankhamon .dentelliere--wrapper img, .liberte .joconde--wrapper img, .liberte .venus--wrapper img, .liberte .toutankhamon--wrapper img, .liberte .liberte--wrapper img, .liberte .scribe--wrapper img, .liberte .dentelliere--wrapper img, .scribe .joconde--wrapper img, .scribe .venus--wrapper img, .scribe .toutankhamon--wrapper img, .scribe .liberte--wrapper img, .scribe .scribe--wrapper img, .scribe .dentelliere--wrapper img, .dentelliere .joconde--wrapper img, .dentelliere .venus--wrapper img, .dentelliere .toutankhamon--wrapper img, .dentelliere .liberte--wrapper img, .dentelliere .scribe--wrapper img, .dentelliere .dentelliere--wrapper img {
      height: 250px;
      width: auto;
      position: absolute;
      margin: 0 60px; }
    .joconde .joconde--wrapper p, .joconde .venus--wrapper p, .joconde .toutankhamon--wrapper p, .joconde .liberte--wrapper p, .joconde .scribe--wrapper p, .joconde .dentelliere--wrapper p, .venus .joconde--wrapper p, .venus .venus--wrapper p, .venus .toutankhamon--wrapper p, .venus .liberte--wrapper p, .venus .scribe--wrapper p, .venus .dentelliere--wrapper p, .toutankhamon .joconde--wrapper p, .toutankhamon .venus--wrapper p, .toutankhamon .toutankhamon--wrapper p, .toutankhamon .liberte--wrapper p, .toutankhamon .scribe--wrapper p, .toutankhamon .dentelliere--wrapper p, .liberte .joconde--wrapper p, .liberte .venus--wrapper p, .liberte .toutankhamon--wrapper p, .liberte .liberte--wrapper p, .liberte .scribe--wrapper p, .liberte .dentelliere--wrapper p, .scribe .joconde--wrapper p, .scribe .venus--wrapper p, .scribe .toutankhamon--wrapper p, .scribe .liberte--wrapper p, .scribe .scribe--wrapper p, .scribe .dentelliere--wrapper p, .dentelliere .joconde--wrapper p, .dentelliere .venus--wrapper p, .dentelliere .toutankhamon--wrapper p, .dentelliere .liberte--wrapper p, .dentelliere .scribe--wrapper p, .dentelliere .dentelliere--wrapper p {
      position: absolute;
      color: #BFBFBF;
      font-size: 19px;
      width: 80vw;
      margin: 300px 50px 0 50px;
      text-align: justify; }
  .liberte {
    height: 80vh; }
    .liberte .liberte--wrapper p {
      position: absolute;
      color: #BFBFBF;
      font-size: 19px;
      width: 80vw;
      margin: 300px 50px 130px 50px;
      text-align: justify; }
  .scribe {
    height: 60vh; }
    .scribe .scribe--wrapper img {
      height: 300px;
      margin: 0 120px; }
    .scribe .scribe--wrapper p {
      padding-top: 50px; }
  .dentelliere {
    height: 65vh; }
    .dentelliere .dentelliere--wrapper img {
      height: 300px;
      margin: 0 90px; }
    .dentelliere .dentelliere--wrapper p {
      padding-top: 50px; }
  .venus {
    height: 75vh; }
    .venus .venus--wrapper img {
      height: 300px;
      margin: 0 140px; }
    .venus .venus--wrapper p {
      padding-top: 50px; }
  .joconde {
    height: 55vh; }
    .joconde .joconde--wrapper img {
      height: 300px;
      margin: 0 70px; }
    .joconde .joconde--wrapper p {
      padding-top: 50px; }
  .toutankhamon {
    height: 60vh; }
    .toutankhamon .toutankhamon--wrapper img {
      height: 300px;
      margin: 0 110px; }
    .toutankhamon .toutankhamon--wrapper p {
      padding-top: 50px; }
  .oeuvreSlide {
    position: absolute;
    margin-top: 55%; }
  .next {
    right: 50px;
    padding: 70px 0 50px; }
  .prev {
    left: 50px; }
  .musees h3 {
    font-family: "Questa Grande", serif;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #BFBFBF;
    margin-bottom: 30px;
    padding-top: 100px; }
  .musees .musees--wraper {
    margin: 0 10%; }
    .musees .musees--wraper .lens--wrapper {
      padding: 50px 0; }
      .musees .musees--wraper .lens--wrapper img {
        height: auto;
        width: 80vw;
        position: relative; }
      .musees .musees--wraper .lens--wrapper .lens--title {
        position: relative;
        font-size: 30px;
        color: #ffffff;
        left: 20%;
        padding: 30px 0; }
      .musees .musees--wraper .lens--wrapper:hover img {
        width: 100%; }
    .musees .musees--wraper .ad--wrapper .ad {
      left: 0; }
    .musees .musees--wraper .ad--wrapper img {
      height: auto;
      width: 80vw;
      position: relative; }
    .musees .musees--wraper .ad--wrapper .ad--title {
      position: relative;
      font-family: Avenir, sans-serif;
      font-size: 30px;
      color: #fff;
      left: 10%;
      padding: 30px 0; }
    .musees .musees--wraper .ad--wrapper:hover img {
      width: 100%; }
    .musees .musees--wraper .ad--wrapper:hover .ad {
      left: 0; }
  .audioguide h3 {
    font-size: 40px; }
  .audioguide .container--audioguide {
    padding-top: 5vh;
    transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) scale3d(1, 1, -0.9); }
  .lensPage h3, .adPage h3 {
    font-size: 35px;
    padding-top: 100px; }
  .lensPage .lens--txt, .lensPage .ad--txt, .adPage .lens--txt, .adPage .ad--txt {
    display: block;
    margin: 0 10% 80px; }
    .lensPage .lens--txt .lens--img, .lensPage .lens--txt .ad--img, .lensPage .ad--txt .lens--img, .lensPage .ad--txt .ad--img, .adPage .lens--txt .lens--img, .adPage .lens--txt .ad--img, .adPage .ad--txt .lens--img, .adPage .ad--txt .ad--img {
      height: 230px;
      width: auto; }
    .lensPage .lens--txt p, .lensPage .ad--txt p, .adPage .lens--txt p, .adPage .ad--txt p {
      width: 100%; }
    .lensPage .lens--txt .arrow, .lensPage .ad--txt .arrow, .adPage .lens--txt .arrow, .adPage .ad--txt .arrow {
      top: 67%;
      right: 25%; }
  .lensPage .lensMap, .lensPage .adMap, .adPage .lensMap, .adPage .adMap {
    height: 200px; }
  .lensPage .next, .adPage .next {
    bottom: 0;
    padding-bottom: 50px;
    padding-top: 50px; }
  .lensPage .prev, .adPage .prev {
    bottom: 0;
    padding-bottom: 50px;
    padding-top: 50px;
    left: 120px; }
  .home .homeTop .titleHome {
    padding-top: 50px;
    font-size: 50px; }
  .home .pyramide--responsive--wrapper {
    display: block; }
  .home .pyramide--wrapper {
    display: none; }
  .audioPage h3, .videoPage h3, .appliPage h3 {
    font-size: 35px;
    padding-top: 100px; }
  .audioPage .audio--txt .audio--wrapper, .videoPage .audio--txt .audio--wrapper, .appliPage .audio--txt .audio--wrapper {
    display: block;
    width: 85%;
    padding: 50px 0 50px 50px; }
    .audioPage .audio--txt .audio--wrapper p, .videoPage .audio--txt .audio--wrapper p, .appliPage .audio--txt .audio--wrapper p {
      width: 80%;
      position: absolute;
      top: 40%; }
    .audioPage .audio--txt .audio--wrapper h4, .videoPage .audio--txt .audio--wrapper h4, .appliPage .audio--txt .audio--wrapper h4 {
      position: absolute;
      top: 63%; }
  .audioPage .audio--txt .audio--img, .videoPage .audio--txt .audio--img, .appliPage .audio--txt .audio--img {
    position: absolute;
    height: 300px;
    margin-top: -20%; }
  .audioPage .next, .videoPage .next, .appliPage .next {
    right: 150px;
    bottom: 30px;
    padding: 70px 0 50px; }
  .audioPage .video--txt .video--wrapper, .videoPage .video--txt .video--wrapper, .appliPage .video--txt .video--wrapper {
    display: block;
    width: 85%;
    padding: 50px 0 50px 50px; }
    .audioPage .video--txt .video--wrapper p, .videoPage .video--txt .video--wrapper p, .appliPage .video--txt .video--wrapper p {
      width: 80%;
      position: absolute;
      top: 40%; }
    .audioPage .video--txt .video--wrapper h4, .videoPage .video--txt .video--wrapper h4, .appliPage .video--txt .video--wrapper h4 {
      position: absolute;
      top: 63%; }
  .audioPage .video--txt .video--img, .videoPage .video--txt .video--img, .appliPage .video--txt .video--img {
    position: absolute;
    height: 300px;
    margin-top: -20%; }
  .audioPage .next, .videoPage .next, .appliPage .next {
    right: 50px;
    bottom: 30px;
    padding: 70px 0 50px; }
  .audioPage .prev, .videoPage .prev, .appliPage .prev {
    left: 50px;
    bottom: 30px;
    padding: 70px 0 50px; }
  .audioPage .appli--txt .appli--wrapper, .videoPage .appli--txt .appli--wrapper, .appliPage .appli--txt .appli--wrapper {
    display: block;
    width: 85%;
    padding: 50px 0 50px 50px; }
    .audioPage .appli--txt .appli--wrapper p, .videoPage .appli--txt .appli--wrapper p, .appliPage .appli--txt .appli--wrapper p {
      width: 80%;
      position: absolute;
      top: 40%; }
    .audioPage .appli--txt .appli--wrapper h4, .videoPage .appli--txt .appli--wrapper h4, .appliPage .appli--txt .appli--wrapper h4 {
      position: absolute;
      top: 63%; }
  .audioPage .appli--txt .appli--img, .videoPage .appli--txt .appli--img, .appliPage .appli--txt .appli--img {
    position: absolute;
    height: 300px;
    margin-top: -20%; }
  .audioPage .next, .videoPage .next, .appliPage .next {
    right: 50px;
    bottom: 30px;
    padding: 70px 0 50px; }
  .audioPage .prev, .videoPage .prev, .appliPage .prev {
    left: 50px;
    bottom: 30px;
    padding: 70px 0 50px; } }
