/*-----------------------------------------------------PARALLAXE-------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}


section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    mix-blend-mode: color;
}

section:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #2E2B30, transparent);
    z-index: 12;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    filter: grayscale(100%);
}

#text {
    margin-top: -300px;
    position: relative;
    color: #2E2B30;
    font-size: 10em;
    z-index: 1;
}

#sol {
    z-index: 10;
}

#pyra {
    margin-top: -295px;
    margin-left: 390px;
    width: 1100px;
    height: 1100px;
    z-index: 9;
}

#ciel {
    width: 1920px;
    height: 1100px;
}
#bat {
    height: 100%;
}
/*-----------------------------------------------------PARALLAXE-------------------------------------------------------*/

/*-----------------------------------------------------MENU-CONTENU--------------------------------------------------------*/

#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.897);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transform: scale(0);
    transition: 0.5s;
    z-index: 10000;
}

#menu-overlay.active {
    transform: scale(1);
}

#menu-overlay.inactive {
    transform: scale(0);
}
#menu-overlay ul {
    position: relative;
}

#menu-overlay ul li {
    position: relative;
    list-style: none;
    text-align: center;
    display: block;
}

#menu-overlay ul li .menu--link {
    position: relative;
    text-decoration: none;
    font-size: 3.5em;
    padding: 0 10px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    font-family: "Questa Grande", serif;;
}

#menu-overlay ul li a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    background: rgba(255, 255, 255, 0.658);
    transform: translateY(-50%) scaleX(0);
    transform-origin: right;
    transition: 0.5s transform;
}

#menu-overlay ul li a:hover:before {
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition: 0.5s transform;
}

#toggleIcon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #ff0;
    z-index: 10001;

    cursor: pointer;
}

#toggleIcon.active {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #ff0;
    z-index: 10001;
    cursor: pointer;
}


/*----------------------------------------------------MENU-CONTENU---------------------------------------------------------*/

/*---------------------------------------------------MENU PYRAMIDE---------------------------------------------------------*/

.burger {
    width: 25px;
    height: 24px;
    position: fixed;
    cursor: pointer;
    left: 40px;
    top: 40px;
    z-index: 10001;
}

.burger .animP::before {
    content: "";
    position: absolute;
    left: 35%;
    width: 25%;
    height: 2px;
    background-color: white;
    transition: transform 0.5s ease-in-out;
}

.burger .animP {
    width: 100%;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}

.burger .animP::after {
    left: -7px;
    content: "";
    position: absolute;
    width: 160%;
    height: 2px;
    background-color: white;
    transition: transform 0.5s ease-in-out;
}

.burger .animP::before {
    transform: translateY(-10px);
    width: transform;
}

.burger .animP::after {
    transform: translateY(10px);
}

.burger.active .animP {
    background-color: transparent; /* lien click active en JS*/
}

.burger.active .animP::before {
    transform: translateY(0px) rotateZ(45deg);
}

.burger.active .animP::after {
    transform: translateY(0px) rotateZ(-45deg);
}

/*---------------------------------------------------MENU PYRAMIDE---------------------------------------------------------*/
